.lineTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 38vw;
}
.title {
  width: 20vw;
  margin: 20px;
}
.title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.workWrap {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 30px;
}

.moreButton {
  text-align: center;
  margin: 40px 0;
}

.moreButton:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
.moreButton a {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.moreButton a:hover {
  color: #cc2229;
  cursor: pointer;
  border: 1px solid #cc2229;
  border-radius: 10px;

  transition: all 0.3s ease-in-out;
}
