.workWrap {
  padding-top: 150px;
  padding-bottom: 50px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px;
}

.box{
  padding-top: 150px;
  height: 90vh;
}