.box {
  padding-top: 130px;
  min-height: 100vh;
}
.workWrap {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px;
}

.filterBox {
  display: flex;
  justify-content: center;
  color: white;

}
.filterTitle {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}
.filterContent {
  background-color: aliceblue;
}
