.heroes {
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}



.helloWorld {
  display: none;
  writing-mode: vertical-lr;
  position: absolute;
  right: 10px;
  top: 150px;
  color: rgba(255, 255, 255, 0.21);
  font-size: 3.3em;
  background: transparent;
  z-index: 22;
}

.mainText {
  position: relative;
  width: 400px;
  height: 200px;
}

.wu {
  position: absolute;
  color: #cc2229;
  font-size: 4em;
  font-weight: 600;
  background: transparent;
  z-index: 2;
  animation: changeColor 4s ease-out infinite;
  left: 10%;
  top: 22px;
}

@keyframes changeColor {
  0% {
    color: #cc2229;
  }

  25% {
    color: green;
  }

  50% {
    color: rgb(255, 255, 255);
  }

  75% {
    color: rgb(0, 195, 255);
  }

  100% {
    color: #cc2229;
  }
}

.with {
  position: absolute;
  font-size: 2em;
  color: #000;
  font-weight: 600;
  background: transparent;
  z-index: 2;
  left: 185px;
  top: 65px;
}

.developer {
  position: absolute;
  bottom: 65px;
  font-size: 2em;
  left: 74px;
  font-weight: 600;
  background: transparent;
}

.mainText div {
  background-color: rgba(255, 255, 255, 0.3);
}

.box1 {
  position: absolute;
  top: 32px;
  left: 180px;
  height: 70px;
  width: 125px;
}

.box2 {
  position: absolute;
  bottom: 70px;
  left: 100px;
  height: 60px;
  width: 150px;
}


.update {
  margin: auto;
  position: relative;
  width: 95%;
  height: 50px;
  overflow: hidden;
}

/* .bar{
    background-color: white;
    width: 750px;
    position: absolute;
    height: 25px;
} */
/* .barRed{
    background-color:#cc2229;
    width: 350px;
    position: absolute;
    height: 25px;
    animation: bar linear both infinite;
} */

.updateText {
  position: absolute;
  z-index: 2;
  background: transparent;
  color: #000;
  padding-left: 12px;
  font-size: 15px;
}

.bar {
  background-color: white;
  width: 100%;
  position: absolute;
  height: 18px;
  border-radius: 15px;
}

.barRed {
  background-color: #cc2229;
  position: absolute;
  height: 18px;
  border-radius: 15px;
  animation: onProcessing 10s ease-in-out forwards;
}

@keyframes onProcessing {
  0% {
    width: 10%;
    background-color: green;
  }

  100% {
    width: 90%;
  }
}



@media screen and (min-width: 300px) {
  .heroesWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroesImg {
    margin-bottom: 30px;
  }


  .heroesImg img {
    
    width: 240px !important;
    height: 230px !important;
  }
  /* .heroesWrap {
        margin-top: 50px;
    }
    .heroesImg img {
        width: 300px !important;
        height: 190px !important;
    } */
}

@media screen and (min-width: 476px) {
  .heroesImg img {
    width: 250px !important;
    height: 220px !important;
  }
}

@media screen and (min-width: 576px) {
  /* .helloWorld {
        display: block;
    }
    .heroesImg img {
        width: 400px !important;
        height: 250px !important;
    }

    .helloWorld {
        font-size: 2.2em;
    } */
}

@media screen and (min-width: 768px) {
  /* .helloWorld {
        display: block;
    }

    .helloWorld {
        font-size: 3.3em;
    } */
    .heroesWrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  .heroesImg img {
    width: 340px !important;
    height: 340px !important;
  }
  .wu {
    font-size: 6.7em;
    font-weight: 600;
    left: 0;
    top: 0;
  }
  .with {
    font-size: 2.8em;
    font-weight: 600;
    left: 280px;
    top: 75px;
  }
  .developer {
    bottom: 0px;
    left: 38px;
    font-size: 4em;
    font-weight: 600;
  }
  .box1 {
    top: 32px;
    left: 270px;
    height: 100px;
    width: 150px;
  }

  .box2 {
    bottom: 16px;
    left: 140px;
    height: 100px;
    width: 250px;
  }

  .bar {
    height: 20px;
  }

  .barRed {
    height: 20px;
  }
  .update {
    margin-top: 80px;
  }
}

@media screen and (min-width: 992px) {
  /* .helloWorld {
        display: block;
    }
    .heroesImg img {
        width: 500px !important;
        height: 290px !important;
    }
    .helloWorld {
        font-size: 3.3em;
    } */
}
@media screen and (min-width: 1200px) {
  /* .helloWorld {
        display: block;
    }
    .heroesImg img {
        width: 500px !important;
        height: 290px !important;
    }
    .helloWorld {
        font-size: 3.3em;
    } */
}

@media screen and (min-width: 1400) {
  /* .helloWorld {
        display: block;
    }
    .heroesImg img {
        width: 500px !important;
        height: 290px !important;
    }
    .helloWorld {
        font-size: 3.3em;
    } */
}
